body {
    margin: auto;
    max-width: 886px;
}
.header {
    height: 16%;
}

.main-content {
    height: auto;
    width: 86%;
    margin-left: 7%;
    display: flex;
}

.content-left {
    width: 66%;
    float: left;
    border-right: 1px dashed;
}
.content-right {
   
    width: 33.3%;
    float: right;
}
.container-top {
    
    padding-left: 3%;
    padding-right: 4%;
    
}
.container-bot {
 border-top: 1px outset;
   
}
.text-container-bottom {
    float: right;
    margin-top: 5px;
    
}
.text-genaral1{
    font-family: sans-serif;
    color: #7F7F7E;
    font-size:  x-small;
}
.container-top img {
   width: 340px;
    height: auto;
}

.text-titlte {
    font-family: sans-serif;
    color: #4B6770
    
}

.text-top-1 {
    font-family: sans-serif;
    font-size:  x-small;
    color: black;
  
}
.container{
    height: auto;
    background-image: url(../image/bg.jpg);
    background-repeat: repeat-y;
    margin-top: -6px;
   
}

.footer {
    height: 10%;
    background-repeat: repeat-y;
    background-image: url(../image/footer.jpg);
    max-width: 100%;
    max-height: 100%;
}

.container-bot2{
    bottom: 0;
    height: 25px;
    margin-left: 42%;
    margin-top: 20px;
    display: inline-block;
}
.page_hyperlink{
   background-color: white;
    color: black;
    border: 1px solid #4caf50;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
}


.icon2 {
    float: right;
    height: 10px;
    width: 10px;
    background-image: url(../image/comment.gif);
    display: inline-block;
    margin: 5px;
    background-repeat: no-repeat;
}
.icon1 {
    float: right;
    height: 10px;
    width: 10px;
    background-image: url(../image/timeicon.gif);
    display: inline-block;
    margin: 5px;
    background-repeat: no-repeat;
}