.content-left-link {
    height: 100%;
     padding-left: 3%;
    padding-right: 4%;
}
.block-search {
   height: auto;
   display: inline-table;
}
.block-search-img {
   width: 200px;
    float: left;
    height: auto;
}
.block-search-description {
    float: right;
     width: 54%;
    background-color: white;
    height: 85%;
}
.block-search-tittle {
    display:inline-block;
    margin-top: 3%;
    margin-bottom: 2%;
    font-family: sans-serif;
    font-size: larger;
    color: #8C9292;
    cursor: pointer;
   text-decoration: none;
    
}
.block-search img {
   max-height: 100%;
   max-width: 100%;
}
.block-search {
     a:link{
        text-decoration :none;
        }
}
.content-left-link a{
    text-decoration-line: none;
}